.search{
	width: 50% !important;
	margin-bottom: 50px;
}

.search{
	width: 90% !important;
	margin-bottom: 50px;
}

.resultModal{
	width: 100%;
}

.result:hover{
	background-color: #D3D3D3;
}

.resultModal:hover{
	background-color: #D3D3D3;
}

.type{
	text-align: center;
	border-radius: 10px;
	width:10%;
	float: right;
}

.typeCovered{
	text-align: center;
	border-radius: 10px;
	width:10%;
	float: left;
}

.type2{
	display: block;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	width: 40%;
}

#prevpage{
	float: left;
	display: none;
}

#nextpage{
	float: right;
}

#results{
	width:90%;
	margin: auto;
}

#pokemonImage{
	display: block;
	margin: auto;
	width: 300px;
}

#info{
	text-align: center;
}

#statTable{
	margin: 100px auto;
	border: 1px solid black;
}

#moveTable{
	margin: auto;
	border: 1px solid black;
}

.move{
	padding: 5px;
	border: 1px solid black;
}

.stat{
	padding: 5px;
	border: 1px solid black;
}

#pokemon1, #pokemon2, #pokemon3, #pokemon4, #pokemon5, #pokemon6{
	border: 1px solid black;
	width: 200px;
	height: 200px;
	margin: 25px;
}

#name1, #name2, #name3, #name4, #name5, #name6{
	text-align: center;
}
